!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en" }
  %head
    %title
      Gradient
    %link{ :type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/stylesheet.css" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/css/colorpicker.css" }
    %script{:type => "text/javascript", :src  => "/js/jquery.js"}
    %script{:type => "text/javascript", :src  => "/js/colorpicker.js"}
  %body
    #content
      #main
        = yield 
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-3441225-6");
        pageTracker._trackPageview();
      } catch(err) {}